*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #f4f5f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    background-color: #ffffff;
    margin: 8px 2px ;
    border-radius: 180px;
}

main{
    width: 100dvh;
    height: 100dvh;
}

i{
    color: #848484;
    font-size: 24px;
}

li{
    list-style: none;
}

ul{
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
}

@media only screen and (max-width: 450px) {
    h2{
        font-size: 14px;
    }

     p{
        font-size: 12px;
    }
}

#logo{
    border-radius: 100%;
    width: 50px;
}

#promo{
    padding: 12px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    background-color: red;
    width: 98%;
    margin: auto;
    height: 150px;
}

#promo h1{
    color: #ffff00;
}

#promo p{
    color: #f4f5f6;
}

#Wpp-btn{
    font-size: 20px;
    border: 2px solid #ffffff;
    border-radius: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25d366;
    padding: 8px 36px;
}

#Wpp-btn:hover{
    transition: all 0.5s;
    background: #1e9248;
}

#Wpp-btn i{
    padding-right: 6px;
    font-size: 20px;
    color: #ffffff;
}

#pix{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 8px;
    padding: 12px;
    width: 98%;
    border-radius: 12px;
}

#pix img{
    padding: 20px 0px;
    width: 240px;
}

#pix p{
    border: 1px solid #848484;
    border-radius: 12px;
    margin: 12px 0px;
    padding: 12px 36px;
}